# Servidor
PORT=8080
CLIENT_URL=http://localhost:5173

# Banco de Dados (PostgreSQL)
DATABASE_URL=postgres://usuario:senha@localhost:5432/mermas_db

# Autenticação (Better Auth)
BETTER_AUTH_SECRET=sua_chave_secreta_super_segura_aqui
BETTER_AUTH_URL=http://localhost:8080

# Armazenamento (Garage S3)
S3_ENDPOINT=https://s3.seudominio.com.br
S3_ACCESS_KEY=sua_access_key_do_garage
S3_SECRET_KEY=sua_secret_key_do_garage
S3_BUCKET_NAME=mermas-acervo

# Documentação Swagger (Opcional)
SWAGGER_SERVER_URL=http://localhost:8080
